Repository nextcloud/user_oidc, pull requests merged in 2022-05, with the labels that each got.

#429 Fix single logout with non-auto provisioned users
  lib/AppInfo/Application.php
  lib/Controller/LoginController.php
  lib/User/Backend.php
Labels: bug, php

#431 Remove command default values to fix provider config print
  lib/Command/UpsertProvider.php
Labels: bug, php

#433 Fix default scope when updating an existing provider with occ
  lib/Command/UpsertProvider.php
  lib/Db/ProviderMapper.php
Labels: bug, php

#414 Updating appstore-build-publish.yml workflow from template
  .github/workflows/appstore-build-publish.yml
Labels: dependencies

#437 Make sure any delayed avatar generation is triggered
  lib/Controller/LoginController.php
Labels: enhancement, php

#436 Search user before provisioning (potentially trigger Ldap sync)
  README.md
  lib/Controller/LoginController.php
  lib/User/Backend.php
Labels: enhancement, php
